<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  
    
    <ion-grid>
      <ion-row>
        <div *ngIf="url">
          <img [src]="santizeUrl(url)" height="100" width="150"/>
         </div>
   <div *ngIf="imageurl">
    <img [src]="santizeUrl(imageurl)" height="100" width="150"/>
   </div>
      </ion-row>
      <ion-row>
        <strong>Ready to create an app?</strong>
        <p><ion-button (click)="selectimageOptions()">Select Image</ion-button></p>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
